* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-block: 10px;
    padding-inline: 10px;
}

.header-wrapper ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-wrapper li {
    list-style: none;
    padding: 5px;
}

.header-wrapper li a {
    text-decoration: none;
}

.footer-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 25px;
    background-color: skyblue;
    color: white;
    padding-block: 20px;
}

.input-error {
    position: absolute;
    padding: 8px;
    color: red;
    font-size: 13px;
}

.active {
    /* text-decoration: underline; */
    /* border-bottom: 1px solid red; */
    filter: drop-shadow(0px 4px 10px rgb(231, 157, 18));
}


.wrapper {
    padding-inline: 10%;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-wrapper {
    margin: 10px;
}

.input-field {
    width: 400px;
    height: 30px;
    border: 1px solid #c5cbc9;
    border-radius: 8px;
    padding: 6px;
}

.button {
    width: 400px;
    height: 30px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
}

.button:hover {
    background-color: #9a9797;
}

.button-link {
    border: 0;
    cursor: pointer;
    background-color: transparent;
    color: skyblue;
    margin: 20px;
}

.logo img {
    border-radius: 30px;
    filter: drop-shadow(0px 4px 10px green);
}

.logoutBtn {
    border: none;
    padding: 5px 10px;
    background: #2b5160;
    color: white;
    font-weight: 600;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
}

table,
tr,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

table,
td,
button {
    margin: 5px;
}

.item-img {
    width: 80px;
    height: 80px;
}

.operation-btn {
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.edit-btn {
    background: green;
}

.delete-btn {
    background: red;
}

.dashboard-btn {
    border: none;
    background-color: skyblue;
    color: white;
    padding: 5px 10px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.main-page-banner,
.restaurant-page-banner {
    background-image: url('https://a.storyblok.com/f/88809/1150x450/30a9c4f9a6/igevia_header_fastfood01_450.jpg');
    height: 230px;
    text-align: center;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    color: #fff;
    width: 100%;
}

.input-wrapper {
    background-color: #fff;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.select-input {
    height: 40px;
    border: none;
    width: 30%;
    padding-left: 15px;
    font-size: 18px;
}

.search-input {
    height: 40px;
    border: none;
    width: 65%;
    border-left: 1px solid #ccc;
    padding-left: 15px;
    font-size: 18px;
}

.locationList {
    color: #000;
    list-style-type: none;
    text-align: left;
    position: absolute;
    background-color: #fff;
    padding: 0;
    margin: 0;
    margin-left: -5px;
    border: 1px solid #ccc;
}

.locationList li {
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.restaurant-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 50px;
}

.restaurant-wrapper {
    min-width: 45%;
    background-color: orange;
    margin: 10px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    cursor: pointer;
}

.restaurant-wrapper .heading-wrapper,
.restaurant-wrapper .address-wrapper {
    padding-left: 15px;
    display: flex;
    justify-content: flex-start;
}

.restaurant-wrapper h5 {
    margin-left: 15px;
}

.restaurant-wrapper .address {
    margin-left: 5px;
}

.restaurant-page-banner h1 {
    font-size: 65px;
    text-transform: capitalize;
}

.details-wrapper {
    display: flex;
    background-color: orange;
    gap: 10px;
    padding: 10px;
}

.details-wrapper h4 {
    width: 50%;
}

.food-list-wrapper {
    margin-bottom: 50px;
    margin-top: 50px;
    padding-bottom: 100px;
}

.food-list-wrapper .list-item {
    color: orange;
    font-weight: bold;
    border-bottom: 1px solid;
    padding: 20px;
    display: flex;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.food-list-wrapper .list-item .description {
    font-weight: lighter;
}

.food-list-wrapper .list-item button {
    color: #fff;
    background-color: orange;
    border: 0;
    padding: 10px;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 5px;
}

.food-list-wrapper .list-item img {
    width: 100px;
    padding-right: 20px;
}

.list-item-block-1 {
    width: 20%;
}

.list-item-block-2 {
    width: 60%;
}

.list-item-block-3 {
    width: 20%;
}

.total-wrapper {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid orange;
    padding-bottom: 20px;
}

.total-wrapper .row {
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
    color: orange;
    font-size: 20px;
    font-weight: bold;
}

.total-wrapper .block-1 {
    width: 70%;
}

.total-wrapper .block-2 {
    width: 30%;
}

.total-wrapper .block-2 button {
    padding: 10px 25px;
    border: navajowhite;
    background-color: orange;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}